* {
    padding         : 0px;
    margin          : 0px;

    box-sizing      : border-box;
}
body {
    width       : 100%;
    height      : 100vh; /* ocupa el 100% de la altura del dispositivo*/
    background  : darkgray;
    display         : flex;
    justify-content : center;
    align-items     : center;
}

.containerDino {
    position        : relative;
    display         : flex;
    justify-content : center;
    align-items     : center;
    width           : 80%; 
    height          : 60%;
    margin          : 0 auto;
    overflow        : hidden; 
    background: linear-gradient(#b7f2fa 20%, transparent) rgb(248, 172, 172); /* oder linear-gradient(#90ebff, white); */
  
    transition: background-color 1s linear;     /* Transicion del background-color en un segundo lineal*/
    
    
}
.erdBoden {
    position        : absolute; 
    bottom          : 0px; 
    left            : 0px;
    width           : 200%; 
    height          : 42px;
    
    /* background: url("img/suelo.png") repeat-x; */
    background      : url("../img/suelo.png");
    background-size : 60% 42px;
}
.dino {
    position        : absolute;
    bottom          : 30px; 
    left            : 50px;
    width           : 84px; 
    height          : 84px;
    
    z-index         : 2;
    background      : url("../img/dino.png") repeat-x;
    background-size : 336px 84px;
  /*  background-position-x: 0px; */
 
}

.cactus1{
    width: 46px; height: 96px;
    position: absolute;
    bottom: 16px; left: 600px;
    z-index: 1;
  /*  border: 2px solid darkolivegreen;
    background-color: greenyellow; */
    background: url("../img/cactus1.png"); 
}
.cactus2{
    width: 98px; height: 66px;
   /* background-color: rgb(70, 114, 4);
    border: 2px solid rgb(45, 56, 26); */
    background: url("../img/cactus2.png");
}

.wolken {
    position            : absolute;
    width               : 92px; 
    height              : 26px;
    z-index             : 0;
    background          : url("../img/nube.png");
    background-size     : 92px 26px;
}

.dinoCorriendo {
    animation: animarDino 0.45s steps(2) infinite;
}
@keyframes animarDino{
    from{
        background-position-x: -84px;
        }
    to{
         background-position-x: -252px;
        }
}

.dino-estrellado {
    background-position-x: -252px;
}

.score {
    position            : absolute;
    display             : flex;
    align-items         : center;
    justify-content     : center;
    width               : 14%; 
    height              : 8%;
    top                 : 6%; 
    right               : 4%;
    padding             : 0;
    margin              : 0.6% auto;
    z-index             : 10;

    border              : 2px solid rgb(77, 77, 77);
    /* background-color    : whitesmoke; */
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
    border-radius       : 12px;
    color               : black;
    font-family         : Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    font-size           : 2.1rem;
    font-weight         : bolder;
    text-align          : center;

    transition          : all 0.45s linear;
    animation           : backgroundBewegung 1s linear infinite;
}
@keyframes backgroundBewegung {
    from {
        background-position:0vw;
      }
    to {
        background-position: 25vw;
    }  
}



.gameOver {
    display         : none;
    position        : absolute; 
    width           : 20%; 
    top             : 43%; 
    right           : 40%;
    border          : 5px solid red;
    border-radius   : 12px;
    background-image: linear-gradient(to top, black 0%, rgb(61, 61, 61) 24%, rgb(1, 78, 1) 50%, rgb(61, 61, 61) 74%, black 100%);
    text-align      : center; 
    color           : white; 
    font-size       : 2.8rem; 
    font-weight     : bold;
    font-family: Verdana;font-weight: 900;

    animation           : gameOverColor 2s ease-in-out infinite;
}
@keyframes gameOverColor {
    from {
        background-position:0vw;
        transform: scale(1);
      }
    to {
        background-position: 25vw;
        transform: scale(1.3);
    }  
}
.mediodia {
    background-color: #ffdcf3;
}
.tarde {
    background-color: #ffadad;
}
.noche {
    background-color: #aca8c7;
}